input {
    border: 1px solid #cecbcb;
    border-radius: 4px;
    padding: 6px;
    color: hsl(0, 0%, 20%);
}

.no-suggestions {
    color: #999;
    padding: 0.5rem;
}

.suggestions {
    border: 1px solid #cecbcb;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    cursor: pointer;
}

.suggestions li {
    padding: 0.25rem;
}

.suggestion-active,
.suggestions li:hover {
    cursor: pointer;
}

.suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #cecbcb;
}
