$backgroundColor: #f5f5f5;
$textColor: #2e2e2e;
$textColorLight: #707070;
$primaryThemeColor: #88C6A9;
$secondaryThemeColor: #399788;
$textWhiteColor: #f0f0f7;
:export {
  backgroundColor: $backgroundColor;
  textColor: $textColor;
  textColorLight: $textColorLight;
  primaryThemeColor: $primaryThemeColor;
  secondaryThemeColor: $secondaryThemeColor;
  textWhiteColor: $textWhiteColor;
}
