$backgroundColor: #f5f5f5;
$textColor: #2e2e2e;
$textColorLight: #707070;
$primaryThemeColor: #4CA07A;
$secondaryThemeColor: #399788;
$textWhiteColor: #f0f0f7;
$textSelectedColor: #5C9EF8;
:export {
  backgroundColor: $backgroundColor;
  textColor: $textColor;
  textColorLight: $textColorLight;
  primaryThemeColor: $primaryThemeColor;
  secondaryThemeColor: $secondaryThemeColor;
  textWhiteColor: $textWhiteColor;
  textSelectedColor: $textSelectedColor;
}
