@mixin card-box-shadow() {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04);
}

@mixin dark-box-shadow() {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

@mixin hover-menu-opacity() {
  opacity: 0.9;
}

@mixin compare-bar-opacity() {
  opacity: 0.6;
}
