$mobile-min-width: 320px;
$mobile-max-width: 575.98px;
$mobile-landscape-min-width: 576px;
$mobile-landscape-max-width: 767.98px;
$tablet-min-width: 768px;
$tablet-max-width: 991.98px;
$smallscreen-min-width: 992px;
$smallscreen-max-width: 1199.98px;
$midscreen-min-width: 1200px;
$midscreen-max-width: 1365.98px;
$largescreen-min-width: 1366px;
$largescreen-max-width: 1440px;
$extralargescreen-min-width: 1441px;
$extralargescreen-max-width: 1520px;
$superlargescreen-min-width: 1521px;

@mixin for-mobile() {
  @media only screen and (max-width: $mobile-max-width) {
    @content;
  }
}

@mixin for-tablet() {
  @media only screen and (min-width: $tablet-min-width) and (max-width: $smallscreen-min-width) {
    @content;
  }
}
@mixin for-mobile-and-tablet() {
  @media only screen and (min-width: $mobile-min-width) and (max-width: $smallscreen-min-width) {
    @content;
  }
}

@mixin for-smallscreen() {
  @media only screen and (min-width: $smallscreen-min-width) and (max-width: $smallscreen-max-width) {
    @content;
  }
}

@mixin for-midscreen() {
  @media only screen and (min-width: $midscreen-min-width) and (max-width: $midscreen-max-width) {
    @content;
  }
}

@mixin for-largescreen() {
  @media only screen and (min-width: $largescreen-min-width) and (max-width: $largescreen-max-width) {
    @content;
  }
}

@mixin for-largerscreens() {
  @media only screen and (min-width: $largescreen-max-width) {
    @content;
  }
}

@mixin for-extralargescreen() {
  @media only screen and (min-width: $extralargescreen-min-width) and (max-width: $extralargescreen-max-width) {
    @content;
  }
}

@mixin for-superlargescreen() {
  @media only screen and (min-width: $superlargescreen-min-width) {
    @content;
  }
}

@mixin for-screen-size-range($minScreenSize, $maxScreenSize) {
  @media only screen and (min-width: $minScreenSize) and (max-width: $maxScreenSize) {
    @content;
  }
}

@mixin for-desktop() {
  @media only screen and (min-width: $smallscreen-min-width) {
    @content;
  }
}

@mixin for-mobile-landscape() {
  @media only screen and (max-device-height: 500px) and (orientation: landscape) {
    @content;
  }
}

@mixin for-small-height-desktop {
  @media only screen and (min-width: $smallscreen-min-width) and (max-height: 700px) {
    @content;
  }
}

@mixin for-large-height-tablet() {
  @media only screen and (min-width: $smallscreen-min-width) and (min-height: 1024px) {
    @content;
  }
}
