.custom-footer{
    background: #FFFFFF;
    box-shadow: 0px -0.5px 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 2rem; 
    position: fixed; 
    bottom: 0;
}
.title{
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #484646;
}
.SchemaAttributesTable {
    width: 100%;
}

.templateToast{
    margin-bottom: 2rem; 
    position: fixed; 
    bottom: 0;
    border-radius: 12px 12px 0px 0px;
}
.toastHeaderSuccess{
    background-color: #4EA466;
    color: #FFFFFF;
}
.toastHeaderFailed{
    background: #E84545;
    color: #FFFFFF;
}
.SchemaAttributesTable tbody tr td {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    padding: 15px 0;
    color: #484646;
}
.action-text {
    color: #6493E0;
    font-weight: 600;
    font-size: 18px;
}