.container{
    color: #4D4F5C;
    box-shadow: 0px 6px 20px #C1CFD933;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 1rem;
}

.add-vaccinator-button {
    border: 2px solid #5C9EF8;
    border-radius: 6px;
    letter-spacing: 1.5px;
    color: #5C9EF8;
    white-space: nowrap;
    margin-top: 15px;
    cursor: pointer;
    font-size: 12px;
    padding: 0.5em 2em;
    background-color: white;
}
