.date-picker-container{
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    width: 100%;
    height: 40px;
}

.react-datepicker-wrapper{
    width: 100%;
}

.date-picker{
    width: 100%;
}

.date-picker-label{
    padding: 5rem;
}
