<?xml version="1.0" encoding="UTF-8"?>
  <configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
</encoder>
<immediateFlush>false</immediateFlush>
</appender>

<appender name="ERROR" class="ch.qos.logback.core.FileAppender">
  <file>simulation-errors.log</file>
  <encoder>
    <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
</encoder>
<immediateFlush>false</immediateFlush>
    <param name="Append" value="false" />
</appender>
  <logger name="io.gatling.http.ahc" level="ERROR" />
  <logger name="io.gatling.http" level="ERROR" additivity="false">
    <appender-ref ref="ERROR"/>
    <appender-ref ref="CONSOLE"/>
  </logger>
  <logger name="io.gatling.http.response" level="ERROR" additivity="false">
    <appender-ref ref="ERROR"/>
    <appender-ref ref="CONSOLE"/>

  </logger>

  <root level="WARN">
    <appender-ref ref="CONSOLE" />
  </root>

</configuration>
