.card-title{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    background-color: #f3ec78;
    background-image: linear-gradient(270deg, #5367CA, #73BAF4);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}    

.card-text{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.card{
    padding: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.card:hover{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid transparent;
    border-image: linear-gradient(270deg, #5367CA, #73BAF4) 1;
}

a {
    color: #5976D2;
}