.DS_Store
.idea
target
node_modules
*.log
vaccination_api/divoc-server
build
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage
*/.gitignore
backend/portal_api/divoc-portal-api-server
backend/vaccination_api/certificate_processor
backend/vaccination_api/digilocker_support_api
keycloak/divoc-realm.json
*.jar
.eslintcache*
certificate_processor/config/keys.js
backend/vaccination_api/analytics_feed
notification-service/notification-service
keys.js
dockerdeps
backend/vaccination_api/analytics_feed
backend/vaccination_api/certificate_processor
backend/vaccination_api/divoc-server
yarn.lock
*.pyo
*.pyc
