.date-picker-container{
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    width: 100%;
}

.date-picker-container img {
    height: 38px;
}

.date-picker-container label {
    margin-bottom: 0px;
}

.date-picker{
    width: 100%;
}

.date-picker-label{
    padding: 5rem;
}

.date-picker > div.react-datepicker-wrapper {
    width: 100%;
}