.verify-mobile-container {
    padding: 1rem 0.5rem;
    height: 100%;
    text-align: center;
}

.otp-input {
    width: 2rem !important;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-radius: 0;
}

.otp-error {
    border-color: #dc3545;
}