.card-container {
    float: left;
    width: 40%;
    margin: 10px 10px;
    padding: 30px;
    background-color: #f1f1f1;
}

.name{
    color: #1D1D1D;
    font-size:larger;
    font-weight: 500;
}

.details{
    color: #040E28;
    font-size: small;
}   

.card-details{
    padding-bottom: 1.5em;
}