.timings-div {
    margin: 0;
    padding: 0;
}

.config-slot .row {
    margin: 0;
    padding: 0;
}

.selected-slot-day, .ignored-slot-day {
    border-radius: 4px;
    opacity: 1;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
    text-transform: capitalize;
    font-size: small;
    font-weight: 900;
    letter-spacing: 1.5px;
}

.selected-slot-day {
    background: #5C9EF8 0% 0% no-repeat padding-box;
    border-color: #5C9EF8;
}

.ignored-slot-day {
    color: #ACACAC;
    background: #ecf2f5 0% 0% no-repeat padding-box;
    border-color: #ecf2f5;
}
