.appointment-card {

    height: 100%;
    box-shadow: 0px 6px 20px #c1cfd933;
    border-radius: 1rem;
    border: none;
    position: relative;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
}