body, html {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  overflow: hidden;
  min-height: 0;
  font-size: 14px;
  color:rgba(0,0,0,.87);
  margin:0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}
body {
  margin: 0;

}
.ndear-wrapper {
  display: flex;
  justify-content: center;
  background-color: #F6F8FC;
}
.ndear-wrapper .form-wrapper {
  display: flex;
  width: 100%;
  padding: 0 10% 10%;
  background: white;
  border-radius: 4px;
}
.ndear-wrapper .form-wrapper .container-wrapper{
  align-items: center;
}
.title-wrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
}
.ndear-login-wrapper {
  width: 60%;
  padding-left: 10rem !important;
  padding-right: 10rem !important;
}
.ndear-login-card-wrapper {
  padding-top: 1rem;
}
.login-content {
  background-color: #F6F8FC;
  background-size:cover;
  background-position:center;
  height: 100vh;
  min-width: 320px;
  display:flex;
  justify-content:space-between;
}
.login-content .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
}

.login-content .box .box-container {
  width:100%;
}
.login-content .box .logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.login-content .box .application-name {
  width: 270px;
  font-family: Muli;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.83;
  letter-spacing: -0.4px;
  text-align: left;
  color: #0055B8;
  margin-left: 32px;
  margin-top: 40px;
}
.login-content .box .form {
}
.login-field {
  width: 100px;
  letter-spacing: 1px;
  border: none !important;
  outline: none;
}
.login-field-password {
  width: 100px;
  letter-spacing: 1px;
  border: none !important;
  outline: none;
}
.login-field-password[aria-invalid="true"] {
  border-color: #c9190b;
  border: 1px solid red !important;
}
.login-field-confirm {
  width: 100px;
  letter-spacing: 1px;
  border: none !important;
  outline: none;
}
.login-field-confirm[aria-invalid="true"] {
  border-color: #c9190b;
  border: 1px solid red !important;
}


.login-content .box input[type="text"]:focus, .login-content .box input[type="password"]:focus {
  outline: none;
}
.login-content .box input[type="text"]:-webkit-autofill, .login-content .box input[type="password"]:-webkit-autofill
{
  box-shadow: 0 0 0px 1000px white inset;
}
.register-link {
  color: #443DF6 !important;
  font-weight: bolder;
  cursor: pointer;
}
.ndear-login-card-wrapper .submit{
  color: #ffffff;
  border-style: none;
  background: linear-gradient(45deg, #73BAF4, #5367CA);
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
}
.login-content .box .visibility {
  position: relative;
  left: 296px;
  top: 20px;
  width: 24px;
  height: 24px;
  opacity: 0.54;
  border: none;
}
.login-content .box .copyright {
  min-width: 320px;
  text-align: center;
  font-size: 14px;
  opacity: .54;
  position: relative;
  top: 50px;
}
.kc-feedback-text {
  color: #b8082a;
}
.message-text {
  width: 322px;
  height: 22px;
  opacity: 0.87;
  font-family: Muli;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: -0.4px;
  text-align: left;
  color: #b8082a;
  border: 0px;
  position: relative;
  top: 180px;
  left: 64px;
  display: inline-flex;
  align-items: center;
}
.identity-providers {
  width: 270px;
  font-family: Muli;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.83;
  letter-spacing: -0.4px;
  text-align: left;
  color: #0055B8;
  margin-left: 32px;
  margin-top: 20px;
}

.login-content .box .social-link-style {
  width: 320px;
  height: 36px;
  border-radius: 2px;
  background-color: var(--white);
  font-family: Muli;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #00754a;
  border-style: solid;
  border-color: #00754a;
  margin-top: 0px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.login-content .box .para {
  font-family: Muli;
  font-size: 14px;
  margin-left: 30px;
}

.login-title {
  font-size: 28px;
  font-weight: 700;
}

@media (max-width: 992px) {
  .ndear-login-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .login-content {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  .login-content .box {
    width: 100%;
  }

  .ndear-wrapper .form-wrapper {
    flex-direction: column;
  }
  .ndear-wrapper .form-wrapper .container-wrapper {
    width: 100%;
    padding: 1rem !important;
    height: 100%;
  }
}

.bold-text {
  font-weight: bold;
}
.input-field-label {
  font-size: 16px;
  font-weight: 400;
  color: #484646;;
}
.password-strength-message {
font-weight: lighter;
color: gray;
font-size: 10px;
}
.password-strength-message[aria-invalid="true"]{
  font-weight: lighter;
  color: rgba(250, 2, 2, 0.767);
  font-size: 10px;
  }


.w-100 {
  width: 100%;
}

.forgot-password-wrapper {
  text-align: center;
}

.forgot-password-wrapper a {
  color: #6493E0;
  font-size: 16px;
  font-weight: 600;
}