.table {
    border-radius: 10px;
}

.v-table-data {
    color: #4E4E4E;
    text-align: center;
}

.status {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.active {
    color: #4CA07A;
}

.inactive {
    color: #5C9EF8;
}

.action-button {
    border: 1px solid #646D82;
    border-radius: 22px;
    height: 28px;
    width: 100px;
    margin-right: 10px;
    font-size: 11px;
}

.custom-popup {
    min-width: 170px;
    max-height: 200px;
    padding: 8px;
}

.custom-popup > p {
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-weight: bold;
}

.custom-popup > hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.custom-checkbox-item-wrapper .wrapper {
    border: 1px solid #5C9EF8;
}

