.table{
    box-shadow: 0px 6px 20px #C1CFD933;
    border-radius: 10px;
}

.v-table-data{
    color: #4E4E4E;
    text-align: center;
}

.status {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.active{
     color: #4CA07A;
}

.inactive{
    color: #5C9EF8;
}

.action-button{
    border: 1px solid #646D82;
    border-radius: 22px;
    height: 28px;
    width: 100px;
    margin-right: 10px;
    font-size: 11px;
}

.action-row{
    padding: 0;
}

