.title{
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.4rem;
}
.text{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4rem;
    color: #484646;
    padding: 1.5rem 0;
}
.btn-primary {
    width: 100%;
    background: linear-gradient(270deg, #5367CA 0%, #73BAF4 100%);
}
.alertCard {
    color: #639CD1;
    background-color: #F2F9FF;
    border:none;
}
.page-content{
    padding: 0 3rem;
}
@media (min-width: 768px){
    .page-content{
        padding: 0 5rem;
    }
}
@media (min-width: 992px){
    .page-content{
        padding: 0 6rem;
    }
}
.page-image {
    max-width: 80%;
}
.bc {
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
  }