.title{
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.4rem;
}
.text{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4rem;
    color: #484646;
    padding: 1.5rem 0;
}
.btn-primary {
    width: 100%;
    background: linear-gradient(270deg, #5367CA 0%, #73BAF4 100%);
}
.btn-secondary {
    width: 100%;
    border: 2px solid;
    border-radius: 5px;
    background:
            linear-gradient(to right, white, white),
            linear-gradient(270deg, #5367CA, #73BAF4);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    color: #6493E0;

}
.btn-outline-light {
    width: 100%;
    color: #666D80 !important;
}
.btn-outline-primary {
    width: 100%;
    color: #6493E0 !important;
}
.alertCard {
    color: #639CD1;
    background-color: #F2F9FF;
    border:none;
}
input.search-icon {
    background: url("./assets/img/Search.svg") no-repeat 95%;
}
.page-content{
    padding: 0 3rem;
}
.schema-list::-webkit-scrollbar {
    width: 4px;
}
.schema-list::-webkit-scrollbar-thumb {
    background-color: rgba(217, 217, 217, 1);
}
.tp-form::-webkit-scrollbar {
    width: 4px;
}
.tp-form::-webkit-scrollbar-thumb {
    background-color: rgba(217, 217, 217, 1);
}
.tp-form {
    max-height: 600px;
    overflow-y: auto;
}
.schema-list {
    margin: 1rem 0;
    border-radius: 3%;
    border: 1px solid #EBEBEB;
    max-height: 299px;
    overflow: auto;
    padding: 2px;
}
.schema-list-items {
    padding: 1rem 0.5rem;
    border-bottom: 1px solid #EBEBEB;
}
.schema-list-items:hover {
    background-color: #F6F6F6;
    cursor: pointer;
}
@media (min-width: 768px){
    .page-content{
        padding: 0 1rem 0 5rem;
    }
}
@media (min-width: 992px){
    .page-content{
        padding: 0 3rem 0 6rem;
    }
}
.page-image {
    max-width: 80%;
}
.breadcrumb {
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
}
.breadcrumb-item {
    text-decoration: none;
    padding-inline: 0.25rem;
}
.disabled {
    cursor: default;
    pointer-events: none;
    color: #505A5F !important;
}
.copy-toast {
    z-index: 10;
    margin-top: 5rem;
    position: fixed;
     box-shadow: 0px 6px 20px #C1CFD933;
     border-radius: 5px;

}
.profile .dropdown-toggle::after {
    content: none;
}

.table-heading {
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
}

.table-col-header {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    background-color: #F3F3F3;
    color: #484646;
}

/*table tr {*/

/*}*/

table tbody tr td {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    padding: 5px 0;
    color: #484646;
}
.custom-cb[type="checkbox"] {
    width: 24px;
    height: 24px;
    outline: 1px solid #898383;
    accent-color: white;
}
.toast-header {
    border-bottom:none;
}
.toast {
    border:none;
}
    