@import "styles/colors.scss";
.base-queue-card {
  display: inline;
  .card {
    height: 97%;
    border-radius: 1rem;
    border: none;

    .card-header {
      background: white;
      text-align: center;
      border-bottom-color: $primaryThemeColor;
      border-radius: 1rem 1rem 0 0;
      color: #646D82;
      padding: 1.25rem;

      span {
        font-weight: 500;
      }
    }

    .card-body {
      padding: 0 1rem;
      margin-bottom: 1rem;
      overflow: auto;
      height: 1px;
    }
  }
}
