@import "styles/common-mixins.scss";
@import "styles/colors.scss";

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .card {
    height: 95%;
    margin: 5%;
  }

  .phone-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .input {
      margin: 8px;
      padding: 8px;

      .control {
        font-size: 16px;
      }
    }
  }

  .title {
    margin: 8px;
    padding: 8px;
    text-align: center;
  }

  .subtitle {
    font-weight: 150;
    font-size: small;
    padding-bottom: 16px;
  }

  .button {
    margin: 8%;
    font-size: small;
    font-weight: bold;
    color: $textWhiteColor;
    padding: 8px 24px 8px 24px;
  }
}
