{
    "@context": [
        "https://www.w3.org/2018/credentials/v1",
        "{{{namespace}}}"
    ],
    "type": [
        "VerifiableCredential",
        "ProofOfVaccinationCredential"
    ],
    "credentialSubject": {
        "type": "Person",
        "id": "{{recipientIdentifier}}",
        "refId": "{{preEnrollmentCode}}",
        "name": "{{recipientName}}",
        "gender": "{{recipientGender}}",
        "age": "{{recipientAge}}",
        "nationality": "{{recipientNationality}}",
        "address": {
            "streetAddress": "{{recipientAddressLine1}}",
            "streetAddress2": "{{recipientAddressLine2}}",
            "district": "{{recipientAddressDistrict}}",
            "city": "{{recipientAddressCity}}",
            "addressRegion": "{{recipientAddressRegion}}",
            "addressCountry": "{{recipientAddressCountry}}",
            "postalCode": "{{recipientAddressPostalCode}}"
        }
    },
    "issuer": "{{{issuer}}}",
    "issuanceDate": "{{issuanceDate}}",
    "evidence": [
        {
            "id": "{{{evidenceId}}}",
            "infoUrl": "{{{InfoUrl}}}",
            "feedbackUrl": "{{{feedbackUrl}}}",
            "certificateId": "{{certificateId}}",
            "type": [
                "Vaccination"
            ],
            "batch": "{{batch}}",
            "vaccine": "{{vaccine}}",
            "manufacturer": "{{manufacturer}}",
            "date": "{{vaccinationDate}}",
            "effectiveStart": "{{effectiveStart}}",
            "effectiveUntil": "{{effectiveUntil}}",
            "dose": {{dose}},
            "totalDoses": {{totalDoses}},
            "verifier": {
                "name": "{{verifierName}}"
            },
            "facility": {
                "name": "{{facilityName}}",
                "address": {
                    "streetAddress": "{{facilityAddressLine1}}",
                    "streetAddress2": "{{facilityAddressLine2}}",
                    "district": "{{facilityAddressDistrict}}",
                    "city": "{{facilityAddressCity}}",
                    "addressRegion": "{{facilityAddressRegion}}",
                    "addressCountry": "{{facilityAddressCountry}}",
                    "postalCode": "{{facilityAddressPostalCode}}"
                }
            }
        }
    ],
    "nonTransferable": "true"
}