.search-img {
    background-color: #5C9EF8;
    border-radius: 4px;
    border: none;
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

.search-img > img {
    size: 4px;
}

/*Height should be same as search img*/
.search-div input {
    height: 40px;
    width: 374px;
}

.search-div button {
    height: 40px;
}

.search-div {
    display: flex;
    margin-left: auto;
}

.personal-details-div {
    background: #ffffff;
    box-shadow: 0px 6px 20px #C1CFD933;
    border-radius: 10px;
    align-items: center;
    margin-right: 30px;
    padding-top: 25px;
}

.personal-details-div .form-row input {
    width: 520px;
    height: 50px;
    margin-bottom: 21px;
}

.personal-details-div > div {
    margin: 30px;
}

.personal-details-div .MuiOutlinedInput-root, .search-div .MuiOutlinedInput-root {
    width: 300px;
}

.personal-details-div > h3 {
    margin: 30px;
}

.program-details-div > h3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.add-vaccinator-button {
    border: 2px solid #5C9EF8;
    border-radius: 6px;
    letter-spacing: 1.5px;
    color: #5C9EF8;
    white-space: nowrap;
    margin: 0 15px;
    cursor: pointer;
    font-size: 12px;
    padding: 0.5em 2em;
    background-color: white;
    margin-bottom: 25px;
}

.saved-success {
    font-weight: bold;
    font-size: 10px;
}

.vaccinator-prg-div {
    background: aliceblue;
    margin-bottom: 0.5rem;
}

.vaccinator-prg-span {
    padding-top: 7px
}

.training-and-certification .Dropdown-root {
    width: 520px;
}

.training-and-certification > * {
    margin-bottom: 25px;
}