apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    k8s-app: digilocker-support-api
  name: digilocker-support-api
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-app: digilocker-support-api
  strategy: {}
  template:
    metadata:
      labels:
        k8s-app: digilocker-support-api
    spec:
      containers:
        - image: bindock/digilocker_support_api:latest
          imagePullPolicy: Always
          resources:
            requests:
              memory: "64Mi"
              cpu: "400m"
          name: digilocker-support-api
          envFrom:
            - configMapRef:
                name: divoc-config
      restartPolicy: Always
status: {}
