.toast-container{
    z-index: 10;
    opacity: 1;
    background-color: #4E4E4E;
    margin-right: 3.5rem;
    width: 100%;
    position: absolute;
     bottom: 0;
     right: 0;
     color: #FFFFFF;
     box-shadow: 0px 6px 20px #C1CFD933;
     border-radius: 5px;
}

.toast-header{
    background-color: #4E4E4E;
    color: #FFFFFF;
    border: 1px solid #717171;
}
