.facility-info-section  {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 20px #C1CFD933;
    border-radius: 10px;
    opacity: 1;
    margin-top: 10px;
    padding-left: 15px;
}

#facility-details {
    max-width: 85%;
}

label {
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    margin-bottom: 10px;
}
input:disabled {
    border: none;
    background-color: white;
}

input:enabled {
    border: 1px solid lightgray;
}

h4 {
    padding: 15px 0;
}

#heading {
    margin: 20px 0;
    text-align: left;
}

.time-input {
    display: inline-block;
    max-width: 100px;
    margin-right: 5px;
}

.radio-input {
    margin-right: 40px;
}

.programDiv {
    border-radius: 10px;
    opacity: 1;
}

.begin-edit {
    color: dodgerblue;
    font-size: 12px;
    cursor: pointer;
    margin-left: 5px;
}