docker==3.5.1
molecule==2.19.0
pytest==3.9.3
cookiecutter>=2.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
jinja2>=2.11.3 # not directly required, pinned by Snyk to avoid a vulnerability
psutil>=5.6.7 # not directly required, pinned by Snyk to avoid a vulnerability
pyyaml>=5.4 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability