.container{
    color: #4D4F5C;
}

.table{
    box-shadow: 0px 6px 20px #C1CFD933;
    border-radius: 10px;    
}

.highlight{
    color: #1D1D1D;
    font-weight: bold;
}

.table-data{
    color: #4E4E4E;
    font-size: smaller;
    text-align: center;
}

.card-continer{
    box-shadow: 0px 6px 20px #C1CFD933;
    border-radius: 10px;
    border: none;
}

.button {
    background: #4CA07A 0% 0% no-repeat padding-box;
    border-radius: 6px;
    border: none;
    color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
}
.pad-1rem{
    padding: 1rem;
}