@import "styles/colors";

.App {
  background: linear-gradient($primaryThemeColor 20%, $textWhiteColor 20%);
}

@media (min-width: 961px) {
  .App {
    max-width: 60vh;
    margin: auto;
  }
}

.invalid-input {
  width:100%;
  margin-top:.25rem;
  font-size:80%;
  color:#dc3545
}