@import "styles/colors";

.App {
  height: 100vh;
  max-width: 60vh;
  margin: auto;
  background: linear-gradient($primaryThemeColor 20%, $textWhiteColor 20%);
}

.invalid-input {
  width:100%;
  margin-top:.25rem;
  font-size:80%;
  color:#dc3545
}