.add-user-btn {
    cursor: pointer;
    width: 3%;
}

.roleTypeMenu {
    height: calc(1.5em + 0.75rem + 2px);
}

.selectorHeight {
    top: -4px;
}

.rateSelector {
    top: -3px;
}

.selectorHeight input {
    border: 1px solid lightgray;
}

.switchInput {
    top: 8px;
}

.rateDeleteButton {
    top: 9px;
}
