@import "styles/colors.scss";
@import "styles/common-mixins.scss";

.header {
  background: #61dafb;
  height: 80px;
}

.footer {
  background: greenyellow;
  height: 80px;
}

.loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #282c34;
  overflow-x: hidden;
  transition: 0.5s;
}

.logo-container {
  text-align: center;
  margin-top: 8%;
  letter-spacing: 2px;

  .first {
    color: $primaryThemeColor;
  }

  .second {
    color: $textColor;
  }
}

.my-card {
  height: 100%;
  box-shadow: 0px 6px 20px #C1CFD933;
  border-radius: 1rem;
  border: none;
}

.bottom-item {

  .icon {
    height: 30px;
    width: 30px;
  }

  .title {
    padding-top: 8px;
  }
}

.form-card {
  height: 100%;
  margin: 5%;

  .line {
    margin: 0;
    background-color: $primaryThemeColor;;
  }


  .appBar {
    padding: 4%;

    .back {
      height: 25px;
      width: 25px;
    }

    .title {
      text-align: center;
    }
  }

}
