@import "styles/colors.scss";
@import "styles/common-mixins.scss";

.header {
  background: #61dafb;
  height: 80px;
}

.footer {
  background: greenyellow;
  height: 80px;
}

.loader {
  display: grid;
  place-items: center;
}

.logo-container {
  text-align: center;
  margin-top: 8%;
  letter-spacing: 2px;

  .first {
    color: $primaryThemeColor;
  }

  .second {
    color: $textColor;
  }
}

.my-card {
  height: 100%;
  box-shadow: 0px 6px 20px #C1CFD933;
  border-radius: 1rem;
  border: none;
}

.bottom-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  text-decoration: none !important;

  .icon {
    height: 30px;
    width: 30px;
  }

  .title {
    font-size: 14px;
    padding-top: 8px;
    color: $textColor;
    outline: none;
  }

  &.active {
    .title {
      color: #2CD889
    }
  }
}


.form-card {
  height: 100%;
  margin: 5%;

  .line {
    margin: 0;
    background-color: $primaryThemeColor;;
  }


  .appBar {
    padding: 4%;

    .back {
      height: 25px;
      width: 25px;
    }

    .title {
      text-align: center;
    }
  }

}
