.navbar {
    box-shadow: 0 6px 20px #C1CFD933;
}

.nav-link {
    color: #646D82 !important;
    font-size: 12px;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

button#dropdown-split-basic {
    padding-bottom: 0;
    padding-top: 0;
    color: black;
    background: white;
    border-color: white;
}

#dropdown-split-basic > span {
    display: inline-block;
    font-size: smaller;
}

#dropdown-split-basic p {
    margin-bottom: 0;
}
