.container{
    display: flex;
    flex-wrap: wrap
}

.card-padding{
    padding-left: 0.7rem;
}

.card-container{
    width: 30%;
    margin: 1rem;
}

.list-view-logo-img {
    font-size: 10px;
    background: #88C6A9 !important;
    border-radius: 100rem;
    width: 4rem;
    height: 4rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.list-view-program-status-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 30%;
}

.table-row{
    background-color: #F2FAF6;
    font-size: large;
}
