@import "styles/colors.scss";

.program-container {
  margin: 4%;
  height: 100%;


}

.program-grid {
  display: grid;
  margin-top: 14px;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4px;
  grid-row-gap: 4px;


  .program-item {

    .title {
      font-size: 13px;
      text-align: center;
    }

    .card-header {
      padding: 4%;
      border-bottom-color: $textColorLight;
    }

    .banner-image {
      width: 100%;
      height: 75%;
      padding: 2px;
      object-fit: cover;
    }

    &.active {
      .banner-image {
        border: 2px solid $primaryThemeColor;
        border-radius: 4px;
      }

      .title {
        color: $textSelectedColor;
      }
    }
  }
}
