@import "styles/colors.scss";

.program-container {
  margin: 4%;
  height: 100%;

}

.program-grid {
  display: grid;
  width: 100%;
  height: 100%;
  margin-top: 14px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 18px;


  .program-item {
    position: relative;

    .title {
      grid-column: 1 / 2;
      font-size: 14px;
      padding: 6%;
      color: #4E4E4E;
      width: 100%;
      font-weight: 500;
      text-align: center;
    }

    .card-header {
      padding: 4%;
      background-color: gray;
      border-bottom-color: $textColorLight;
    }

    .banner-image {
      width: 100%;
      height: 150px;
      padding: 4px;
      object-fit: cover;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
    }

    .selection {
      border: 1px solid #E9E9F0;
      border-radius: 16px;
      margin: 4px;
    }

    .tick {
      z-index: 1;
      position: absolute;
      top: -24;
      right: 0;
    }


    &.active {

      .selection {
        border: 2px solid $primaryThemeColorLight;
        border-radius: 16px;
      }
    }
  }
}

.selection-program-container {
  background-color: white;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;

  .program-selection-grid {
    width: 100%;
    max-height: 75%;
    overflow: auto;
  }

  .action-btn {
    color: #5C9EF8;
    border-color: #5C9EF8;
    font-size: 14px;
    padding: 0.5rem 2rem;

    &:hover, &:active {
      background-color: #fff !important;
      border-color: #5C9EF8 !important;
      box-shadow: none !important;
    }
  }
}

