
.control-class{
    border-radius: 4px;
    margin: 10px;
}
.place-holder{
    font-size: 0.8rem;
    font-weight: normal;
    text-align: left;
}
.menu-items{
    color: #737783;
    font-size: 0.9rem;
    text-align: left;
    white-space: nowrap;
}