.upload-csv-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2%;
    margin-top: 2%;
}

.upload-csv {
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: 0px 6px 20px #C1CFD933;
    border-radius: 10px;
}

.upload-csv .UploadCSV_container__1cn_q {
    width: 100%;
}

.total {
    /* grid-column: 2 / 4; */
}

.upload-history {
}

.error-temp {
    height: 100%;
}

.error-container {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2%;
    margin-top: 4%;
}

.error-count {
    grid-row: 1 / 2;
}

.error-count h3 {
    font-size: 50px;
    font-weight: bold;
    margin-top: 8px;
}

.error-count h5 {
    margin-top: 8px;
    font-weight: normal;
}


.error-file-details {
    grid-row: 2 / 4;
    align-self: end;
}

.error-file-details p {
    margin-bottom: 4px;
}

.error-list {
    grid-row: 1 / 3;
    margin: 4%;
    text-align: center;
    border-radius: 25px;
    border: 1px solid #FC573B;
    padding: 4%;
}

.error-list h6 {
    font-weight: bold;
    color: #FC573B;
    font-size: 18px;
}

.title{
    border-bottom: 1px solid #8DC2FF;
}

.modal-container{
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.82;
}
.modal-container>div>div{
    padding: 0 1rem;
}