@import "styles/common-mixins.scss";
@import "styles/colors.scss";

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  .card {
    height: 95%;
    margin: 5%;
  }

  .logout {
    width: 50%;
  }
}
