@import "styles/colors.scss";
@import "styles/common-mixins.scss";

.home-container {
  overflow: auto;
  height: 96%;
  margin: 4%;

  .program-header {
    display: flex;
    flex-direction: column;

    .banner {
      width: 100%;
      max-height: 200px;
      padding: 1rem;
    }

    .program-name-container {
      display: grid;
      place-items: center;
      height: 150px;
      font-size: 20px;
      font-weight: 700;

      .program-name {
        word-wrap: anywhere;
        text-align: center;
        color: $primaryThemeColor
      }
    }

    .name {
      font-weight: 700;
      font-size: 16px;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: center;
      white-space: nowrap;
    }

    .subtitle {
      font-size: 12px;
      text-overflow: ellipsis;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
    }

    .date {
      font-weight: 700;
      color: $primaryThemeColor
    }

    .label {
      font-weight: 700;
    }
  }

  .title-container {
    display: flex;
    flex-direction: column;

    .title {
      color: $textColor;
      font-weight: bold;
      margin-top: 5%;
    }

    .content {
      width: 100%;
    }
  }

  .enroll-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    height: 50%;

    .verify-card {
      height: 100%;
      grid-row: 1/3;
      text-align: center;
      .icon {
        padding: 5%;
      }
    }
  }

  .recipient-container {
    .recipient-row {
      margin-top: 4%;

      .my-card {
        padding: 0.5rem 1rem;

        .value {
          border-radius: 50%;
          text-align: center;
          width: 4rem;
          height: 4rem;
          margin: 4%;
          padding: 25%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #f0f0f7;
          font-size: 24px;
          border: 5px solid #EAF3FF;
          font-weight: bold;
          background-color: #5C9EF8;
        }

        .title {
          text-align: start;
          font-size: 20px;
        }
      }
    }
  }
}
