
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>ICMR</title>
    <link rel="stylesheet" href="css/vendor.bundle.base.css">
    <link rel="stylesheet" href="css/materialdesignicons.min.css">
    <link rel="stylesheet" href="css/flag-icon.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/report-style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet"/>
    <style>
        input.form-control:read-only {
            background-color: #fff;
        }
    </style>


</head>

<body style="-webkit-print-color-adjust: exact; color-adjust: exact;" onLoad="window.print();" >

<div class="report-page-wrapper ml-auto mr-auto">
    <div class="d-flex align-items-center justify-content-between jal-jeevan-logo-content mb-4 pt-4 px-3 px-md-5">
        <div class="text-center">
            <img  src="{{{icmrLogoDataUri}}}" style="height: 100px;" >
        </div>
        <div class="text-center">
            <h1 class="jal-blue">Covid-19 Test Report</h1>
            <h2 class="jal-red">Delhi Government Containment Zones</h2>
            <!--<h5>ICMR</h5>-->
        </div>
        <div class="text-center mb-3" style=" margin-top:2%;">
            <img src="{{qrCode}}" alt="qr_code" style="width:300px; height:300px;"/>
        </div>
    </div>

    <div class="report-page-container px-3 px-md-5">
        <div class="report-form-wrapper">
            <form>
                <div class="d-flex">
                    <div class="flex-grow-1 mr-2">
                        <h2 class="pb-2 border-bottom mb-2">Individual Information</h2>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Covid-19 Test ID</label>
                            <div class="col-sm-4 input-padding-left">
                                <input type="text" class="form-control" id="refId"  value="{{refId}}" readonly>
                            </div>
                            <label class="col-sm-2 col-form-label">Name:</label>
                            <div class="col-sm-4 input-padding-left">
                                <input type="text" class="form-control" id="name"  value="{{name}}" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Age:</label>
                            <div class="col-sm-4 input-padding-left">
                                <input type="text" class="form-control" id="age"  value="{{age}}" readonly>
                            </div>
                            <label class="col-sm-2 col-form-label">Gender:</label>
                            <div class="col-sm-4 input-padding-left">
                                <input type="text" class="form-control" id="gender"  value="{{gender}}" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Contact Number:</label>
                            <div class="col-sm-4 input-padding-left">
                                <input type="text" class="form-control" id="mobile"  value="{{mobile}}" readonly>
                            </div>
                            <label class="col-sm-2 col-form-label">Country of Test:</label>
                            <div class="col-sm-4 input-padding-left">
                                <input type="text" class="form-control" id="country"  value="{{country}}" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Adhaar Number:</label>
                            <div class="col-sm-4 input-padding-left">
                                <input type="text" class="form-control" id="aadhaar"  value="{{aadhaar}}" readonly>
                            </div>
                            <label class="col-sm-2 col-form-label">Passport Number:</label>
                            <div class="col-sm-4 input-padding-left">
                                <input type="text" class="form-control" id="identity"  value="{{identity}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>

                <h2 class="pb-2 border-bottom mb-12">Specimen Information</h2>
                <div class="form-group row">

                    <label class="col-sm-2 col-form-label">ICMR  ID:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="icmrId"  value="{{icmrId}}" readonly>
                    </div>

                    <label class="col-sm-2 col-form-label">SRF  ID:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="srfId"  value="{{srfId}}" readonly>
                    </div>

                    <label class="col-sm-2 col-form-label">Result of SARS-CoV2:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="result"  value="{{result}}" readonly>
                    </div>


                    <label class="col-sm-2 col-form-label">Test Type:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="testType"  value="{{testType}}" readonly>
                    </div>

                    <label class="col-sm-2 col-form-label">Specimen Type:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="sampleOrigin"  value="{{sampleOrigin}}" readonly>
                    </div>

                    <label class="col-sm-2 col-form-label">Report  ID:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="reportId"  value="{{reportId}}" readonly>
                    </div>

                    <label class="col-sm-2 col-form-label">Date of Sample Collection:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="sampleDate"  value="{{sampleDate}}" readonly>
                    </div>

                    <label class="col-sm-2 col-form-label">Date of Sample Received at  Lab:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="sampleReceived"  value="{{sampleReceived}}" readonly>
                    </div>

                    <label class="col-sm-2 col-form-label">Date of Sample Testing:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="sampleTested"  value="{{sampleTested}}" readonly>
                    </div>

                    <label class="col-sm-2 col-form-label">Date of Result Reported:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="resultDate"  value="{{resultDate}}" readonly>
                    </div>
                </div>
            </form>
        </div>
        <!--
        <div class="text-left mb-3">
            <span>Checked and Approved by: <br><br><br></span>
            <p>----------------------------</p>
        </div>
        -->

        <div class="text-center">
            <h4 class="jal-blue mb-2">Note: The results relate only to the specimens tested and should be correlated with clinical findings. </h4>
        </div>

        <div class="text-left">
            <h4 class="jal-black mb-2"><b>Interpretation guidance:-  </b></h4>
            <p class="jal-black m-0"><b>1.</b> Testing of referred clinical specimens was considered on the basis of request / referral received from / through State Surveillance Officer (SSO) of concerned State Integrated Disease Surveillance Programme (IDSP)/ any other health care facility affirming requirements of the case definition/s.</p>
            <p class="jal-black m-0"><b>2.</b> A single negative test result, particularly if this is from an upper respiratory tract specimen, does not exclude infection* </p>
            <p class="jal-black m-0"><b>3.</b> A positive test result is only tentative, and will be reconfirmed by retesting</p>
            <p class="jal-black m-0"><b>4.</b> Repeat sampling and testing of lower respiratory specimen is strongly recommended in severe or progressive disease. The repeat specimens may be considered after a gap of 2 â 4 days after the collection of the first specimen for additional testing if required. * </p>
            <p class="jal-black m-0"><b>5.</b> A positive alternate pathogen does not necessarily rule out either, as little is yet known about the role of coinfections.</p>
            <p class="jal-black m-0"><b>6.</b> Please note that these results are not to be used for any thesis or presentations or for Publication in any Journal without the prior permission of the Director General, ICMR</p>
            <p class="jal-black m-0"><b>7.</b> Report can be verified` at http://verify.icmr.org.in/ </p>
        </div>

    </div>
</div>
</body>
</html>
