@import "styles/common-mixins.scss";
@import "styles/colors.scss";
@import "styles/media-mixins.scss";

.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .host-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .nav {
    flex-direction: row;
  }

  @include for-desktop() {
    .nav {
      flex-direction: column;
    }
    flex-direction: row-reverse;
  }

  .bottom-bar {
    background-color: white;
  }

  .logout {
    width: 50%;
  }
}
