@import "styles/common-mixins.scss";
@import "styles/colors.scss";

.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .host-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .bottom-bar {
    background-color: white;
  }

  .logout {
    width: 50%;
  }
}
