.container{
    height: 75vh;
    box-shadow: 0px 6px 20px #C1CFD933;
    margin: 2% 2rem 0;
    border-radius: 1rem;
    overflow: auto;
}
.form-container{
    padding: 2rem;
}

.sub-container{
    padding: 2rem;
}

.form{
    color: #4D4F5C;
    font-size: small;
}

.heading{
    color: #4E67D1;
    border-bottom: 1px solid #4E67D1 ;
    padding-bottom: 15px;
    margin-bottom: 10px;

}

.button {
    border: 2px solid #5C9EF8;
    border-radius: 6px;
    background-color:white;
    color: #5C9EF8;
    margin-top: 15px;
    padding: 0.25rem 1.5rem;
}

.form-radio-buttons{
    padding-left: 5px;
}

.box{
    width: 50%;
}

.list-title{
    color: #1D1D1D;
    font-weight: 600;
}

.form-container>form>div>fieldset{
    height: 40vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-container>form>div>fieldset>div{
    padding-right: 2rem;
}
