.custom-button {
    border-radius: 4px;
    color: white;
    border: none;
    padding: 0.5rem 3rem;
    margin-top: 1rem
}
.primary-btn {
    background: #5c9ef8;
    color: white
}

.blue-btn {
    background: transparent linear-gradient(90deg, #59BCF9 0%, #4E67D1 100%) 0% 0% no-repeat padding-box;
}

.blue-btn-outline {
    color: #5c9ef8;
    border-color: #5c9ef8
}

.yellow-btn {
    background: transparent linear-gradient(91deg, #FDBD22 0%, #DE9D00 100%) 0% 0% no-repeat padding-box;
}

.purple-btn {
    background: transparent linear-gradient(91deg, #8DA2FF 0%, #4E67D1 100%) 0% 0% no-repeat padding-box;
}

#custom-link-button {
    color: #5C9EF8;
    font-weight: bold;
    font-size: 18px;
    margin-right: 25px;
}
