.selected-day, .ignored-day {
    border-radius: 4px;
    opacity: 1;
    margin: 0 5px;
    width: 25px;
    height: 25px;
    text-align: center;
}

.selected-day {
    background: #5C9EF8 0% 0% no-repeat padding-box;
}

.ignored-day {
    background: #ecf2f5 0% 0% no-repeat padding-box;
}