.inbuiltAttributes {
    margin: 2rem
}

@media (min-width:768px) {
    .inbuiltAttributes {
        margin: 2rem 3rem 2rem 3rem
    }
}

@media (min-width: 992px) {
    .inbuiltAttributes {
        margin: 2rem 5rem 2rem 5rem
    }
}

@media (min-width: 1200px) {
    .inbuiltAttributes {
        margin: 2rem 5rem 2rem 15rem
    }
}

.inbuiltAttributesTable {
    min-width: 950px;
    width: 100%;
}