.container {
    color: #4D4F5C;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 1rem;
}

.add-vaccinator-button {
    border: 1px solid #5C9EF8;
    border-radius: 6px;
    letter-spacing: 1.5px;
    color: #5C9EF8;
    white-space: nowrap;
    margin: 15px;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    padding: 0.5em 2em;
    background-color: white;
}

.title-vaccinator {
    font-weight: 500;
    font-size: 1em;
    color: #1D1D1D;
}
