.enter-batch-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .form-label {
    font-size: 20px;
    font-weight: bold;
  }
  .form-control {
    border-color: #4E67D1;
    text-align: center;
    padding: 2rem 0;
    font-size: 20px;
    margin-top: 3rem;
  }
}