

.table-container>table>tbody{
    height: 500px;
    overflow: scroll;
    display:block;
}

.second-word-formatting{
    padding: 55px;
}

.table-container{
    padding: 5px;
}

.table-container>table>thead{
    background: #4E67D1;
    color: white;
}

