.thead{
    background: #4E67D1;
    color: #FFFFFF;
}

.table-container{
    padding: 15px;
    box-shadow: 0px 6px 20px #C1CFD933;
    border-radius: 0px 0px 10px 10px;
    height: 500px;
    overflow: scroll;
}
