.side-effect-container {
    padding: 3rem 5rem;
    height: 100%;
}

.side-effect-container .container-fluid {
    height: 100%;
}

@media (max-width: 961px) {
    .side-effect-container {
        padding: 1rem 0;
    }
}

.program-card {
    text-align: center;
}

.program-tick {
    z-index: 1;
    position: absolute;
    top: -9px;
    right: -9px;
}
