@import "styles/colors.scss";
@import "styles/common-mixins.scss";

.enroll-code-container {
  height: 100%;
  flex-direction: column;
  place-items: center;

  .title {
    margin-top: 20%;
  }

  .scan-qr {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ced4da;
    line-height: 0.1em;
    margin: 10px 0 20px;
  }

  .scan-qr span {
    background:#fff;
    padding:0 10px;
    color: #707070;
  }

  .input-container {
    margin-bottom: 20%;
    display: grid;
    place-items: center;

    .divOuter {
      width: 100%;

      .divInner {
        left: 0;
        position: sticky;

        .otp {
          border: none;
          background-image: linear-gradient(to left, #88C6A9 70%, rgba(255, 255, 255, 0) 0%);
          background-position: bottom;
          background-size: 70px 1px;
          background-repeat: repeat-x;
          background-position-x: 35px;
          font-size: 42px;
          width: 320px;
          padding-left: 0;
          letter-spacing: 45px;
          outline: none;
        }

      }
    }

    .mobile {
      margin-top: 20%;
    }
  }

  .next {
    margin-top: 15%;
    color: white;
  }
}
