.main-container .container-fluid {
    height: 100%;
}

.members-container {
    padding: 3rem 5rem;
    height: 100%;
}

.reciepient-card span {
    margin-right: 10px;
    font-size: smaller;
}

.reciepient-card > div {
    padding-top: 5px;
}

.members-container .card {
    border: 0;
}
