.container{
    padding: 15px;
    color: #1D1D1D;
    
}
.sub-container{
    display: flex;
}
.button{
    border: 1px solid #5C9EF8;
    color: #5C9EF8;
    background: none;
    padding: 6px;
    border-radius: .25rem;
}

.img{
    float: right;
}

.radio{
    margin: 5px;
}

.top-pad {
    padding-top: 20px !important;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}
.export-icon {
    width: 30px;
    height: 30px;
    padding-right: 5px;
}

.common-pass {
    width: 30px;
    height: 26px;
    padding-right: 5px;
}