<?xml version="1.0"?>
{{ ansible_managed | comment('xml') }} 
<yandex>
  <zookeeper>
{% for server in clickhouse_zookeeper_nodes %}
    <node index="{{loop.index}}">
{% for key, value in server.items() %}
      <{{ key }}>{{ value }}</{{ key }}>
{% endfor %}
    </node>
{% endfor %}
  </zookeeper>
</yandex>
